.root { -fx-font-family: "Roboto"; }

#Editor,
.button { -fx-background-color: #C0C0C0; }		/* Level 2 background color */	


.menu-bar,
.context-menu,
.menu-item,
#VSP .scroll-bar:vertical,	
#VSP .scroll-bar:horizontal,
#OptionBox,
#ThemesMenu { -fx-background-color: #DFDFDF; }		/* Level 3 background color */


#Editor .text,
.menu .text,
.menu-item .text { -fx-fill: #4C4C4C; }		/* Text on background */

.button,
.tree-cell { -fx-text-fill: #D6D6D6; }

.menu:hover,
.menu:showing,
.menu-item:focused,
.button:focused,
.button:hover,
.tree-cell:selected,
.tree-cell .tree-disclosure-node .arrow { 
	-fx-background-color: #3399FF;		/* Highlight color */
	-fx-text-fill: #FFFFFF;					/* Contrasts with orange highlight */
}


.label { -fx-text-fill: #4C4C4C; }		/* Dialog box messages */

#Editor .text {
	-fx-font-family: "Liberation Mono";
	-fx-font-size: 17;
    -fx-font-weight: lighter;
}

#Editor .caret { -fx-stroke: #000000; }

.menu .text {
    -fx-font-family: "Roboto";
    -fx-font-size: 15;
}

.menu-item { -fx-border-width: 0px; }

.button {
    -fx-background-color: #999999;
    -fx-border-radius: 5px;
	-fx-border-width: 0;
}

.lineno { 
	-fx-background-color: #999999;		/* Line number background color */
}

.lineno .text {
	-fx-fill: #969298;		/* Line number text color */
}

#StatusBar { 
	-fx-background-color: #DFDFDF; 		/* Level 3 background color */
	-fx-text-fill: #4C4C4C;			/* Text on level 3 */
}		

#AboutScreen { -fx-background-color: #3B3B3B; }		/* Fixed color for 'About' window */
#AboutText {		
	-fx-fill: #D6D6D6;			/* Message in 'About' window */
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

#ThemesBox { -fx-text-fill: #3B3B3B; }		/* Combo box */

.tree-cell {
	-fx-background-color: #6B6B6B;		/* Level 1 background color */
	-fx-border-width: 0px;
}

.tree-cell:selected,
.tree-cell:expanded,
.tree-cell:focused { -fx-font-weight: bold; }

.tree-view .scroll-bar:horizontal .increment-arrow,
.tree-view .scroll-bar:horizontal .decrement-arrow,
.tree-view .scroll-bar:horizontal .increment-button,
.tree-view .scroll-bar:horizontal .decrement-button { -fx-padding:0; }		/* Disables horizontal scroll bar in File Tree */

.split-pane { -fx-padding: 0px; }				/* Removes border around File Tree */
.split-pane-divider { -fx-padding: 0 0 0 0; }		/* Invisible divider */
